<!DOCTYPE html>
<html lang="en">
<head>
<title>Check outliers</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
}

nav1 {
  background-color: #ccc;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: rgb(4, 3, 70);
  height: auto;
}


</style>
</head>

<body>
<nav1>
  <p><center><b>--------- Visualization of the 3D Plot ---------</b></center></p>
  <center><img src={{url_2}} alt="Chart" height="800" width="1200"></center><br><br>
  <p><center><b>--------- Visualization of the 2D Plot ---------</b></center></p>
  <center><img src={{url_3}} alt="Chart" height="800" width="1200"></center>
</nav1>
</body>
</html>
