.example-sidenav-content{
    width: 100%; 
    display:inline-flex;
    h4{
        padding: 5px;
    }
    mat-form-field{
        padding: 10px;
    }
    
  }

  .example-chip-list {
    width: 100%;
    padding: 5px;
  }