<div class="example-sidenav-content" fxLayout="row wrap" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="space-evenly center">

  <h4>Category of the System</h4>
  <mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <br>
  
  <h4>Select the Type of Analysis</h4>
  <mat-form-field appearance="fill">
    <mat-label>Cars</mat-label>
    <select matNativeControl required>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </mat-form-field>

</div>

<p>
  <i>Select a focused chip by pressing <code>SPACE</code></i>
</p>

<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Video keywords</mat-label>
  <mat-chip-list #chipList aria-label="Video keywords" multiple [formControl]="formControl">
    <mat-chip
        *ngFor="let keyword of keywords"
        [selected]="keyword"
        [value]="keyword"
        (removed)="removeKeyword(keyword)">
      {{keyword}}
    </mat-chip>
    <input
      placeholder="New keyword..."
      [matChipInputFor]="chipList"
      (matChipInputTokenEnd)="addKeywordFromInput($event)">
  </mat-chip-list>
</mat-form-field>

<p>
  <b>The following keywords are selected:</b> {{formControl.value}}
</p>