<div class="example-sidenav-content" fxLayout="row wrap" fxLayoutGap="10px" fxLayout.md="column" fxLayoutAlign="space-evenly center">

  <h4>Category of the System</h4>
  <mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <br>
  
  <h4>Select the Type of Analysis</h4>
  <mat-form-field appearance="fill">
    <mat-label>Cars</mat-label>
    <select matNativeControl required>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </mat-form-field>

</div>

<p>
 <strong>Select the Frequency for Sentimental Analysis </strong> Click <code>SPACE</code>
</p>

<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Video keywords</mat-label>
  <mat-chip-list #chipList aria-label="Video keywords" multiple [formControl]="formControl">
    <mat-chip
        *ngFor="let keyword of keywords"
        [selected]="keyword"
        [value]="keyword"
        (removed)="removeKeyword(keyword)">
      {{keyword}}
    </mat-chip>
    <input
      placeholder="New keyword..."
      [matChipInputFor]="chipList"
      (matChipInputTokenEnd)="addKeywordFromInput($event)">
  </mat-chip-list>
</mat-form-field>

<p>
  <b>The following keywords are selected:</b> {{formControl.value}}
</p>

<mat-divider></mat-divider>

<mat-tab-group>

  <mat-tab label="Sentimental Analysis"> 
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            This is the expansion title
          </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  
  </mat-tab>

  <mat-tab label="Tokenization"> 
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="picker.open()">Open</button>
    
  </mat-tab>

  <mat-tab label="NER Moduling">
    
    <mat-horizontal-stepper [linear]="isLinear"> 

      <mat-step [stepControl]="firstFormGroup">
         <form [formGroup]="firstFormGroup">  
          <ng-template matStepLabel>Data Cleaning</ng-template> 
          <mat-form-field appearance="fill">
            <mat-label>Cars</mat-label>
            <select matNativeControl required>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </mat-form-field>
          <!-- <mat-form-field>
            <input matInput formControlName="firstCtrl" placeholder="Analysis" required>
        </mat-form-field>  -->
          <button mat-button mat-raised-button color="primary" matStepperNext>Solve</button>        
        </form>
      </mat-step>
  
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Data Processing</ng-template>
          <mat-form-field>
              <input matInput placeholder="Any input" formControlName="secondCtrl" required>
          </mat-form-field>
          <button mat-button mat-raised-button color="primary" matStepperNext>Next</button>          
          <button mat-button mat-raised-button color="" matStepperPrevious>Back</button>        
        </form>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel icon>Final Analysis</ng-template>
        You are now done.      
        <button mat-button mat-raised-button color="primary" required>Done</button>      
      </mat-step>
  </mat-horizontal-stepper>
  
   </mat-tab>

   <mat-tab label="Word Cloud"> 
    <mat-form-field hintLabel="Max 10 characters" appearance="fill">
      <mat-label>Enter some input</mat-label>
      <input matInput #input maxlength="10" placeholder="Ex. Nougat">
      <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Select me</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>

    <div class="example-box" cdkDrag>
      WordCloud Image will be dispalyed Here
    
      <div class="example-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
    </div>

  </mat-tab>

   
</mat-tab-group>


<br>
<br>
<br>