.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
    
  }

  mat-form-field {
    margin-right: 12px;
    padding: 20px;
  }

  .demo-inline-calendar-card {
    width: 300px;
  }

  .example-form-field {
    margin: 0 8px 16px 0;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .example-chip-list {
    width: 100%;
  }

  .example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-sidenav-content{
    width: 100%; 
    display:inline-flex;
    h4{
        padding: 5px;
    }
    mat-form-field{
        padding: 10px;
    }
  }